<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <category
               id="org.eclipse.cdt.pasta"
               name="Painless AST Analysis" />
         <view 
         		icon="icons/sample.gif" 
                category="org.eclipse.cdt.pasta" 
                class="org.eclipse.cdt.pasta.plugin.ASTView"
                id="org.eclipse.cdt.pasta.astview" 
                name="AST View"/>
         <view
               category="org.eclipse.cdt.pasta"
               class="org.eclipse.cdt.pasta.plugin.NodeView"
               icon="icons/sample.gif"
               id="org.eclipse.cdt.pasta.nodeview"
               name="Node View" />
         

   </extension>
   
</plugin>
